.products {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.product {
    flex: 1 1 300px;
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    border: solid 2px rebeccapurple;
    gap: 10px;
    flex-direction: column;
}

img {
    padding: 10px;
    width: 200px;align-self: safety;;
    height: 200px;
}

h2 {
    font-size: 1.6rem;
    text-align: center;
}

p {
    cursor: pointer;
    background: #f7bbbb;
    padding: 10px;
    border-radius: 8px;
    color: #df0f0f;
}